@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: .2s linear;
    border: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}
body {
    background-color: var(--bg);
}

section {
    padding: 2rem 7%;
}

.header {
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;  
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
    
}

.header .navbar a {
    margin: 0 3rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor:pointer;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
    outline: none;
    border: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black); 
}

.header .search-form label:hover{
    color: var(--main-color);
}

.header .cart-items-container {
    position: absolute;
    top: 100%; 
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #fff;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position: relative;
    display: flex;
    margin: 1.5rem 0;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer; 
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 2rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.header .cart-items-container .btn:hover {
    letter-spacing: .2rem;
}

/* home section style starts */
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/home-img2.jpg) center no-repeat;
    background-size: cover;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 2rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    
    letter-spacing: .2rem;
}

/* about section style starts */

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    background: var(--black);
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #eee;
    padding: 1rem 0;
    line-height: 1.8;
}

/* about section style ends */

/* menu section style starts */

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 3rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 20rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    padding-left: .5rem;
}

.menu .box-container .box:hover {
    background: #fff;
    
}

.menu .box-container .box:hover > * {
    color: var(--black);
}

/* menu section style ends */


/* products section style starts */

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box .content h3{
    color: #fff;
    font-size: 2.5rem;
    
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    color: var(--main-color);
    font-size: 1.7rem;
    
}

.products .box-container .box .content .price {
    color: #fff;
    font-size: 2.5rem;
    
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* products section style ends */


/* review section style starts */

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 0 2.5rem;
    
}

.review .box-container .box  span{
    color: var(--main-color);
    font-size: 1.7rem;
    
}
.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #ccc;
    padding: 2rem 0;
}

.review .box-container .box .user {
    height: 7rem; 
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box-container .box h3 {
    font-size: 2rem;
    color: #fff;
}

.review .box-container .box .stars i{
    color: var(--main-color);
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: 1rem;
}

/* contact section style starts */

.contact .row {
    display: flex;
    flex-wrap: wrap;
    background: var(--black);
    color: #fff;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem; 
    width: 100%;
    object-fit: cover;

}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox {
    border: var(--border);
    background: var(--bg);
    height: 5rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contact .row form .inputBox span {
   font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input {
    background: none;
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
}
/* contact section style ends */


/* blog section style starts */

.blogs .box-container {
    
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
    color: #fff;
    border: var(--border);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img {
    transform: scale(1.2);
}

.blogs .box-container .box:hover {
    box-shadow: 0 10px 6px -6px var(--main-color);
}

.blogs .box-container .content {
    padding: 2rem;
}

.blogs .box-container .content .title {
    font-size: 2.5rem;
    line-height: 1.5;
    color: #fff;
}

.blogs .box-container .content .title:hover {
    text-decoration: underline;
    color: var(--main-color);
}

.blogs .box-container .content span{
    font-size: 2rem;
    display: block;
    color: var(--main-color);
    padding-top: 1rem;
}

.blogs .box-container .content p {
    font-size: 1.5rem;
    color: #ccc;
    line-height: 1.8;
    padding: 1rem 0;
}

/* blog section style ends */

/* footer section style starts */

.footer {
    background: var(--black);
    text-align: center;
}
.footer .share {
    
   
    padding: 1rem 0;
   
}
.footer .share a {
    color: #fff;
    border-radius: 50%;
    border: var(--border);
    font-size: 2rem;
    height: 5rem;
    text-align: center;
    width: 5rem;
    background: var(--black);
    line-height: 5rem;
    margin: 1.5rem;
}

.footer .share a:hover {
    background: var(--main-color);

}
.footer .links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
    gap: 1rem;
    padding: 2rem 0;
}

.footer .links a {
    border: var(--border);
    color: #fff;
    font-size: 2rem;
    padding: 1rem 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .credit {
    color: #fff;
    font-size: 2rem;
    display: block;
    padding: 2rem 0;
    font-weight: lighter;
}

.footer .credit span {
    color: var(--main-color);
}
/* footer section style ends */



/* media queries */
@media (max-width: 992px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 20rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        display: block;
        color: var(--main-color);
        margin: 1.5rem;
        padding: .5rem;
        font-size: 1.5rem;
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}